body {
  background-color: #fefefe;
  /* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
}

/*.numeral, .sidenote-number { 
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
}*/

dt {
  text-indent: 1rem;
  font-size: 1.4rem;
  font-weight: bold !important;
}

h1 > .header-section-number {
   padding-right: .15em;
}

div.epitaph {
  font-style: italic;
  text-align: right;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div.example {
  border-left: 3px double teal;
  padding-left: 1rem;
}

div.problem {
  border-left: 3px double maroon;
  padding-left: 1rem;
}

div.puzzle {
  border-left: 3px double teal;
  padding-left: 1rem;
}

div.info {
  border-left: 3px double teal;
  padding-left: 1rem;
}

div.warning {
  border-left: 3px double red;
  padding-left: 1rem;
}

div.argument {
  border-left: 3px double silver;
  padding-left: 1rem;
}

button {
  background: none!important;
  color: inherit;
  border: none; 
  padding: 1!important;
  font: inherit;
  cursor: pointer;
}

a:nth-last-child(even) > .btn.btn-default:before{
  content: "☜ ";
}

a:nth-last-child(odd) > .btn.btn-default:after{
  content: " ☞";
  line-height: 60%;
}